[submodule "common/submodules/fast-daq-core"]
	path = common/submodules/fast-daq-core
	url = http://github.com/uwmuonlab/fast-daq-core
[submodule "common/submodules/mhelper"]
	path = common/submodules/mhelper
	url = http://github.com/mwsmith2/mhelper
[submodule "common/submodules/gm2-field-core"]
	path = common/submodules/gm2-field-core
	url = https://github.com/uwmuonlab/gm2-field-core
